{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title%}
    <title>Create student</title>
{% endblock %}

{% block header%}
<h3>Create student</h3>
{% endblock %}

{% block content %}
    <form method="post">

        {% csrf_token %}

        {{form|crispy}}

        <input type="submit" class="btn btn-success" value="Create">
    </form>
{% endblock %}
