{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title%}
    <title>Students list</title>
{% endblock %}

{% block header%}
<h3>Students list</h3>
{% endblock %}

{% block content %}
<form>
    <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">First name:</span>
            </div>
        <input name="first_name" type="text" class="form-control" placeholder="Enter first name:" aria-label="Username" aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">First name:</span>
            </div>
        <input name="last_name" type="text" class="form-control" placeholder="Enter last name:" aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Rating:</span>
            </div>
        <input name="rating" type="text" class="form-control" placeholder="Enter rating:" aria-label="Username" aria-describedby="basic-addon1">
    </div>

    <input class="btn btn-info" type="submit" value="Search">
</form><br>



<h3><a href="{% url 'students:create' %}">Create student</a></h3><br>

{% include 'includes/students-table.html' %}

{% endblock %}
