{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title%}
    <title>Edit student</title>
{% endblock %}

{% block header%}
<h3>Students edit</h3>
{% endblock %}

{% block content %}

    <form method="post">

        {% csrf_token %}

        {{form|crispy}}

        <input type="submit" class="btn btn-success" value="Edit">
        <input formaction="{% url 'students:delete' student.uuid %}" type="submit" class="btn btn-danger" value="Delete">
    </form>

{% endblock %}
