{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title%}
    <title>Edit group</title>
{% endblock %}

{% block header%}
<h3>Groups edit</h3>
{% endblock %}

{% block content %}

    <form method="post">

        {% csrf_token %}

        {{form|crispy}}

        <input type="submit" class="btn btn-success" value="Edit">
        <input formaction="{% url 'groups:delete' group.id %}" type="submit" class="btn btn-danger" value="Delete">
    </form>
<br>

<h3>Teacher:</h3>

{{ group.teacher }}

<h3>Students:</h3>

{% include 'includes/students-table.html' %}

{% endblock %}
