{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title%}
    <title>Groups list</title>
{% endblock %}

{% block header%}
<h3>Groups list</h3>
{% endblock %}

{% block content %}

<form>
<div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Group name:</span>
        </div>
    <input name="name" type="text" class="form-control" placeholder="Enter group name:" aria-label="Username" aria-describedby="basic-addon1">
</div>

<div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Group type:</span>
        </div>
    <input name="group_type" type="text" class="form-control" placeholder="Enter group type::" aria-label="Username" aria-describedby="basic-addon1">
</div>

<input class="btn btn-info" type="submit" value="Search">

</form><br>

<h3><a href="{% url 'groups:create' %}">Create group</a></h3><br>

{% include 'includes/groups-table.html' %}

{% endblock %}
