<table>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>type</th>
            <th>teacher</th>
            <th>edit group</th>
            <th>delete group</th>
        </tr>
    {% for group in groups %}
        <tr>
            <td>{{ group.id }}</td>
            <td>{{ group.name }}</td>
            <td>{{ group.group_type }}</td>
            <td>{{ group.teacher }}</td>
            <td><a href="{% url 'groups:edit' group.id %}">EDIT</a></td>
            <td><form method="POST" action="{% url 'groups:delete' group.id %}">
               {% csrf_token %}<input type="submit" value="DELETE">
            </form></td>
        </tr>
    {% endfor %}
</table>

{% include 'includes/page-navigation.html' %}
