{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title%}
    <title>Teachers list</title>
{% endblock %}

{% block header%}
<h3>Teachers list</h3>
{% endblock %}

{% block content %}
<form>
<div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">First name:</span>
        </div>
    <input name="first_name" type="text" class="form-control" placeholder="Enter first name:" aria-label="Username" aria-describedby="basic-addon1">
</div>

<div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">First name:</span>
        </div>
    <input name="last_name" type="text" class="form-control" placeholder="Enter last name:" aria-label="Username" aria-describedby="basic-addon1">
</div>

<input class="btn btn-info" type="submit" value="Search">

</form><br>

<h3><a href="{% url 'teachers:create' %}">Create teacher</a></h3><br>

<table>
        <tr>
            <th>id</th>
            <th>firstname</th>
            <th>lastname</th>
            <th>group</th>
            <th>edit teacher</th>
            <th>delete teacher</th>
        </tr>
    {% for teacher in teachers %}
        <tr>
            <td>{{ teacher.id }}</td>
            <td>{{ teacher.first_name }}</td>
            <td>{{ teacher.last_name }}</td>
            <td>{{ teacher.group.name }}</td>
            <td><a href="{% url 'teachers:edit' teacher.id %}">EDIT</a></td>
            <td><form method="POST" action="{% url 'teachers:delete' teacher.id %}">
               {% csrf_token %}<input type="submit" value="DELETE">
            </form></td>
        </tr>
    {% endfor %}
</table>

{% include 'includes/page-navigation.html' %}

{% endblock %}