{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title%}
    <title>Edit teacher</title>
{% endblock %}

{% block header%}
<h3>Teachers edit</h3>
{% endblock %}

{% block content %}

    <form method="post">

        {% csrf_token %}

        {{form|crispy}}

        <input type="submit" class="btn btn-success" value="Edit">
        <input formaction="{% url 'teachers:delete' teacher.id %}" type="submit" class="btn btn-danger" value="Delete">
    </form><br>

{% include 'includes/groups-table.html' %}

{% endblock %}
