{% extends 'base.html' %}

{% block content %}
    <h4><a href="{% url 'students:list' %}">Students list</a></h4>
    <h4><a href="{% url 'teachers:list' %}">Teachers list</a></h4>
    <h4><a href="{% url 'groups:list' %}">Groups list</a></h4>
{% endblock %}