<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>firstname</th>
            <th>lastname</th>
            <th>email</th>
            <th>rating</th>
            <th>phone_number</th>
            <th>uuid</th>
            <th>group</th>
            <th>edit student</th>
            <th>delete student</th>
        </tr>
    {% for student in students %}
        <tr>
            <td>{{ student.first_name }}</td>
            <td>{{ student.last_name }}</td>
            <td>{{ student.email }}</td>
            <td>{{ student.rating }}</td>
            <td>{{ student.phone_number }}</td>
            <td>{{ student.uuid }}</td>
            <td>{{ student.group.name }}</td>
            <td><a href="{% url 'students:edit' student.uuid %}">EDIT</a></td>
            <td><form method="POST" action="{% url 'students:delete' student.uuid %}">
               {% csrf_token %}<input type="submit" value="DELETE">
            </form></td>
        </tr>
    {% endfor %}
</table>

{% include 'includes/page-navigation.html' %}
